@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;

  color-scheme: light;
  color: #1A202C;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --title-display: 48px;
  --title-1: 36px;
  --title-2: 28px;
  --title-3: 24px;
  --body-large: 18px;
  --body-medium: 16px;
  --body-small: 14px;
  --body-caption: 12px;

  --bg-default: #FFFFFF;
  --bg-subtle: #F9F9F9;

  --text-primary: #263655;
  --text-secondary: #4A5568;
  --text-disabled: #A0AEC0;

  --primary-color: #4FD1C5;
  --natural-color-50: #EDEEF0;
  --natural-color-100: #C7CAD0;
  --natural-color-200: #ACB1BA;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: #48BEB3;
}

hr {
  margin: 0;
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--natural-color-100);
}

.height {
  width: 1px;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 { margin: 0; font-size: var(--title-display); }
h3 { margin: 0;  font-size: var(--title-2); }
h4 { margin: 0; font-size: var(--title-3); font-weight: 500;}
.large { font-size: var(--body-large); }
p { margin: 0; font-size: var(--body-medium); }
.small { font-size: var(--body-small); }
.caption { font-size: var(--body-caption); }

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
