body {
  width: 100vw;
  display: block;
  place-items: start;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0;
}

main {
  width: calc(100vw - 200px);
}

#field {
  margin: 36px 40px;
  width: 100%;
  display: flex;
  gap: 56px;
}

#field1 {
  width: 760px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#goal {
  box-sizing: border-box;
  padding: 20px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background-color: var(--bg-subtle);
}

#goal-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#goal-body p { color: var(--text-secondary);}

#percent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#percent-bar {
  width: 100%;
  height: 4px;
  border-radius: 9999px;
  background-color: var(--natural-color-50);
}

#assignment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#assignment-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#status {
  display: flex;
  align-items: center;
  gap: 16px;
}

.status {
  box-sizing: border-box;
  padding: 16px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 12px;
  background-color: var(--bg-subtle);
  cursor: pointer;
  transition: 0.2s;
}
.status:hover { background-color: var(--natural-color-50); }

#assignment-more {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.assignment-more {
  box-sizing: border-box;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid var(--natural-color-100);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}
.assignment-more:hover { background-color: var(--bg-subtle); }

#field2 {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#calender {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: default;
}

#calender-date-container {
  box-sizing: border-box;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--natural-color-100);
  border-radius: 12px;
}

#calender-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#calender-title-icons {
  display: flex;
  align-items: center;
  color: var(--natural-color-100);
  cursor: pointer;
  transition: 0.2s;
}
#calender-title-icons svg:hover { color: var(--text-disabled); }


#calender-date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 4px;
}

#calender-date p {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.calender-day { color: var(--text-secondary); }
.calender-before, .calender-after { color: var(--text-disabled); }
#calender-date p:hover { background-color: var(--natural-color-50); }

#checklist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#checklist-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#select-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.select {
  padding: 4px 8px;
  color: var(--natural-color-200);
  border: 1px solid var(--natural-color-200);
  border-radius: 8px;
  background-color: var(--bg-subtle);
  cursor: pointer;
  transition: 0.2s;
}
#select { color: var(--primary-color); border-color: var(--primary-color); background-color: var(--primary-color-50); }
.select:hover { color: var(--primary-color); border-color: var(--primary-color); background-color: var(--primary-color-50); }

#list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  background-color: var(--bg-subtle);
}

.list {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-primary);
  cursor: pointer;
}
.list:hover { color: var(--natural-color-200); }