body {
  width: 100vw;
  display: block;
  place-items: start;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0;
}

main {
  width: 100%;
}